h1,
h2,
h3 {
  font-family: "Dancing Script", cursive;
  color: #e7eaf6;
}
body {
  background-image: url(/images/weather2.jpg);
  background-size: cover;
}
footer {
  text-align: center;
}
li {
  list-style: none;
  font-family: "Dancing Script", cursive;
  color: #e7eaf6;
}
.celsius-link {
  font-family: "Dancing Script", cursive;
  color: #e7eaf6;
}
.fahrenheit-link {
  font-family: "Dancing Script", cursive;
  color: #e7eaf6;
}
#celsius-link {
  font-family: "Dancing Script", cursive;
  color: #e7eaf6;
}
#fahrenheit-link {
  font-family: "Dancing Script", cursive;
  color: #e7eaf6;
}

#detail {
  margin: 5px;
  position: relative;
  right: -700px;
}
.btn-light {
  margin: 5px;
}
.card-body {
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
  margin: 10px;
}

.location {
  border-radius: 5px;
  border-color: #c6c7c8;
}

.logo {
  display: block;
  margin: 30px auto;
  width: 150px;
}

.row {
  text-align: center;
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
  border-radius: 10px;
  margin: 20px auto;
}

.forecast-app {
  border: 3px solid cornflowerblue;
  padding: 15px;
  margin: 20px auto;
  max-width: 900px;
  border-radius: 10px;
}
